.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.backButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.backButton:hover {
  background-color: #0056b3;
}
